<div class="container">
    <div class="editCard">
     <form #editForm="ngForm">
      <h2 class="heading">Edit profile</h2>
  
      <label class="label">Email</label>
         <input 
         type="email" name="email"
         value="{{oldEmail}}" 
         [(ngModel)]="email" class="formInput"
         maxlength="60" required/>
  
      <label class="label">Password</label>
        <input 
          type="password" name="password"
          placeholder="Choose a password" 
          [(ngModel)]="password" class="formInput" 
          required/>

        <label class="label">Username</label>
          <input 
            name="displayName"
            placeholder="Enter a username" 
            [(ngModel)]="displayName" class="formInput"
            maxlength="12" required/>
  
        <button [disabled]="!editForm.form.valid" 
                type="submit" (click)="edit()"
                class="btn" id="btn-edit">
                Edit
        </button>
      </form>
    </div>
  </div>