.container{ 
    font-size: 1rem; 
    display: flex;
    flex-direction: column;
}

.chatroomName{
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgb(146, 109, 233);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.regUsers{    
    font-weight: bold;  
}

.userList{
    height: auto;
    padding: 5px;
    width: 90%;
    align-items:flex-start; 
}
.online{
    font-weight: 900;    
    color: rgb(25, 189, 39);
}

.offline{
    font-weight: 900;  
    color: rgb(221, 23, 33);
}