.container{
    height: 100%;
    overflow:hidden;
    background: rgba(255,255,255);
  }

 .createChatroom{
    display: block;
    background-color: rgba(255,255,255,0.85);
    width: 400px;
    height: 150px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 20px 30px;
  }

  .formInput{
    margin: auto;
    width: 70%;
    height: 40px;
    border-radius:4px;
    background:rgb(235, 227, 227);
    border: rgb(209, 198, 198) 1px solid;
    padding: 8px;
    font-size:1em;
  }
  
  .btn{
    height: 44px;
    width: 50%;
    margin: auto;
    margin-top: 16px;
    border: none;
    background:rgb(105, 118, 156);
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
  }